@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    height: 100%;
  }

  html,  body {
    height: 100%;
    min-height: 100%;
    @apply bg-[#030014] text-white antialiased m-0 p-0;
    overflow-x: hidden;
    overflow-y: auto; /* <- Esto habilita el scroll vertical */
  }
}

/* Fuentes personalizadas */

.font-barlow {
  font-family: "Barlow Condensed", sans-serif;
}


/* Clases personalizadas - Versión optimizada para SSR */
.Welcome-text {
  @apply text-[20px] whitespace-nowrap;
  font-family: var(--font-cedarville), cursive;
  background: linear-gradient(
      0deg,
      rgba(225, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #9cb2ff 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  word-spacing: 4px;
}

.Welcome-box {
  @apply relative overflow-hidden backdrop-blur-[8px] flex items-center w-max;
  padding: 0.25rem 0.5rem;
  margin-left: 2.5rem;
  margin-top: 0.625rem;
  border-radius: 1rem;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  isolation: isolate;
  transition: box-shadow 0.45s cubic-bezier(0.6, 0.6, 0, 1);
}

/* Agrego una máscara para el blackhole */
.mask-blackhole {
  mask-image: radial-gradient(circle at center, rgba(255, 255, 255, 1) 20%, rgba(0, 0, 0, 0) 50%);
  -webkit-mask-image: radial-gradient(circle at center, rgba(255, 255, 255, 1) 20%, rgba(0, 0, 0, 0) 50%);
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
}
